* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1024px;
    margin-left: 35%;
}

.container h2 {
    margin-bottom: 20px;
    margin-top: 20%;
}

.container form {
    max-width: 600px;
}

.container label {
    margin-top: 16px;
}

.container button {
    margin-top: 30px;
    width: 100%;
}